asgiref==3.9.1
Django==5.2.4
django-redis==6.0.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-nested-routers==0.94.2
mysqlclient==2.2.7
PyJWT==2.10.1
redis==6.2.0
sqlparse==0.5.3
gunicorn==23.0.0

